
/* Estilos golobales ///////////////////// */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  display: flex;
  font-family:'Roboto', sans-serif;
  color: #00003c;
}

.Imagen_fondo {
  width:100%;

}


.Contenido {
  position: absolute;
  width: 1200px;
  min-width: 300px;
}

/* Estilos del menu//////////////////////////////////// */



.Nav_container {
padding: 5rem 2rem 4rem 8rem;
display: flex;
flex-direction: row; 
justify-content:center;
align-items: center;
gap: 8rem;


}

.Nav_url{
  display: flex;
  align-items: center;
  gap: 6rem;
}

.Item_nav{
text-decoration: none;
font-size: 1.1em;
font-weight: 700;
color: #00003c;
}

.Logo{
  height: 1rem;
}

.Logo-tyni{
  height: 2rem;
  margin-right:10px;
}

/* Estilos del heading//////////////////////////////////// */

.Container_heading{
  position: relative;

}


.Text_heading{
  font-size:2em;
  padding: 0.5rem;
  margin: 6rem 2rem 0rem 9rem ;
  display:inline-block
}



.People-image{
   width: 70%;
  position: absolute;
  top: 220%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  justify-content: center;
}

/* Estilos de iconos de google play */
/* debo convertirlo en componente//////////////////////// */
.Container_dowland{
  margin:52rem 0rem 8rem 10rem;
  display: flex;
  flex-direction: row; 
  align-items:center;
  gap: 14.5rem;
}

.Container_text-dowland{
  display:flex;
  flex-direction:column;

}

.Container_icons{
  display: flex;
  gap: 1.2rem;
}
/* Estilos de los subtitulos de toda la pagina */
.subtittles{
  font-weight: 700;
  font-size:2.9rem ;
}

.Text-dowland {
  font-size:1.1rem;
  font-weight: 500;
  margin-top:3px;

}

.Icon-dowland{
  height: 3.5rem;
}

/* ///////////////////////// */

.Cointainer_tittle{
  padding: 2.7rem 12rem 3.5rem 10rem;
  text-align: center;
}

.Tittles{
  font-weight: 700;
  font-size:3.5rem ;
 
}

.Container_screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 8rem 17rem 10rem;

}

.Text-subtittle{
  font-size: 2.2rem;
  font-weight:400;
  margin-top: 15px;
}

.Screen-img {
  width:14rem;
  margin-left: 12px;
  
}

.Text-subtittle_container {
  margin-left: 35px;
}

.Container-text_patrones{
  margin-left:10rem;
}

.Axis{
  width: 35rem;
  position: absolute;
  top: 44%;
  left: 49%;
  transform: translate(-50% , -50%);
}

.Axis-world2{
  position: absolute;
  top: 44%;
  left: 17%;
  transform: rotate(-90deg);
  font-size:2.2rem
}

.Axis-world1{
  font-size:2.2rem;
  position: absolute;
  top: 48%;
  left: 40%;
}

.Titles-sub{
  margin-left:10rem;
  margin-bottom:5rem;
}

.Container_screen2{
  align-items: flex-start;
}

.Text-subtittle_container{
  margin-right: 3rem;
}

.Shading{
  font-weight: 900;
}

.Text-recomendaciones{
  font-size: 2.2rem;
  font-weight:400;
  text-align: center;
  margin-bottom:3rem;

}
.Container_retos{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom:15rem;
}

.Text_habilidades{
  margin-left:15rem;
  margin-bottom:3rem;
}

.Container_dowland2{
  margin:10rem 0rem 15rem 12rem;
  display: flex;
  flex-direction: row; 
  align-items:center;
  gap: 14.5rem;
}

.Container_footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 4rem 8rem 10rem;
}

.Footer-section1{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Lineas-vertical1{
border-left: #00003c 2px dashed;
margin-right: 5px;
width: 5px;
height: 150px;
position: absolute;
top: 96.3%;
left: 47%;
}
.Lineas-vertical2{
  border-left: #00003c 2px dashed;
  margin-right: 5px;
  width: 5px;
  height: 150px;
  position: absolute;
  top: 96.3%;
  left: 70%;
  }
.Instagram-logo-footer{
  width: 5rem;
}

.Logo-symbol-footer{
  width: 6rem;
}

.Logo-name-footer{
  width: 11rem;
}

@media screen and (max-width:400px) {

  .Nav_container {
    padding: 5rem 2rem 4rem 8rem;
    flex-direction:column;
    gap:2rem;
   }

   .Nav_url{
    flex-direction: column;
    gap: 2rem;
  }

     .People-image{
      width: 20%; 
   }

   .Text_heading {
    font-size:10px;
  }

  .Bubble-img1 {
    width:5rem;
 
  }
  
  .message_bubble1 {
      font-size:2px;
  }
  
    .Bubble-img2 {
      width:15rem;
    }
    
    .message_bubble2 {
        font-size:2px; 
      }

      
      .subtittles{
        font-size:1rem ;
      }
      .Tittles{
        font-size: 1.2rem;
      }
      
      .Text-dowland {
        font-size:0.5rem;
      }
      
      .Icon-dowland{
        height: 1rem;
      }
      .Text-subtittle{
        font-size: 1rem;
      }
      
      .Screen-img {
        width:7rem;
  
        
      }
    }
      
  
